<div class="container p-3">
   <h4 class="dialog-header">¡Atención!</h4>
   <div class="row">
      <div *ngIf="data.title" class="col-12 dialog-title text-center">
         {{ data.title }}
      </div>
      <div class="col-12 dialog-message d-flex justify-content-center">
         ¿Está seguro de continuar?
      </div>
   </div>
   <div class="d-flex justify-content-end gap-2 dialog-actions">
      <button type="button" class="btn btn-secondary" (click)="onCancel()" [disabled]="loading">
         Cancelar
      </button>
      <button type="button" class="btn btn-primary" (click)="onAccept()">
         <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="20" color="accent"></mat-progress-spinner>
         <span *ngIf="!loading">{{ data.positive ? data.positive : "Aceptar" }}</span>
      </button>
   </div>
</div>